/*Animation menu*/
@keyframes showMenuContainer {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(-25%);
    }
}

@keyframes hideMenuContainer {
    from {
        transform: translateX(-25%);
    }

    to {
        transform: translateX(50%);
    }
}

.menu-container {
    position: fixed;
    top: 0%;
    left: 0%;
    background-color: black;
    transform: translateX(-100%);
    width: 200vmax;
    height: 100vh;
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    z-index: 100;
}

/*Menu bton*/
.burger-btn {
    position: fixed;
    display: grid;
    place-items: center;
    top: 5%;
    right: 5%;
    background-color: transparent;
    border: none;
    width: 30px;
    height: 30px;
    z-index: 990;
    mix-blend-mode: difference;
    cursor: pointer;

}

.burger-btn span {
    border: 1px solid white;
    width: 30px;

    margin-right: 50%;

    display: inline-block;

    transition: 0.3s;
}

/*Menu options*/
.menu-options {
    position: fixed;
    z-index: 200;
    width: 100vw;
    height: 100vh;
    display: none;
}

.menu-options__nav {
    width: 100vw;
    height: 100vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-options ol {
    margin-top: 4%;
    padding-inline-start: 0;

    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*grid-template-rows: 20% 20% 30%;*/
}

.menu-options li {
    list-style: none;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 15%;
    width: 100%;
}

.menu-options a {
    text-decoration: none;
}

.text-link__nav {
    color: white;
    font-size: clamp(40px, 7vw, 70px);
    font-family: 'aileron';
    text-align: center;
    opacity: 0;
    transition: 0.3s;
    transition-delay: 0.3s;
}

.text-link__nav span,
#text-close__nav span {
    position: relative;
    z-index: 101;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.2s;
}

.text-link__nav span:hover,
#text-close__nav span:hover {
    opacity: 1;
}

#text-close__nav {
    font-size: clamp(18px, 2vw, 20px);
    font-family: 'aileron';
}

@media screen and (max-width:530px) {
    .menu-options li {
        height: 15%;
    }
}