@font-face {
    font-family: 'cormorant';
    src: url('./Cormorant.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'seasons';
    src: url('./TheSeasons.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'aileron';
    src: url('./Aileron.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
    font-display: swap;
}