@font-face {
    font-family: 'brown';
    src: url('./BrownSugar.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url('./CormorantGaramond.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}