@keyframes revealText {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.project-page__section {
    background-color: var(--secundary-background);
    border: 1px solid transparent;

    overflow-x: hidden;
    overflow-y: hidden;

    min-width: 100vw;
    min-height: 100vh;
}

.project-page__section-title {
    position: relative;

    height: 100vh;

    display: grid;
    grid-template-columns: 100%;
}

.project-page__section-title>div {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-page__section-title>div>h2 {
    color: white;
    font-size: clamp(50px, 8vw, 80px);
    font-family: 'seasons';
    font-weight: 300;

    margin: 0;

    width: 100%;
    text-align: center;

    overflow: hidden;
}

.project-page__section-title .projectTitle-letters {
    display: inline-block;

    transform: translateY(18vw);
    transition: 1s;
    opacity: 0;
    transition-delay: 0.2s;
}

.project-page__section-content {
    height: 500vh;
}

.project-page__section-content>div:first-child {
    display: flex;
    flex-direction: column;
}

.project-page__section-content>div:first-child>div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.project-page__section-content>div:first-child>div p {
    color: white;

    font-size: clamp(20px, 3vw, 30px);

}

.project-page__section-content>div:first-child>div img {
    width: 50%;
    min-width: 260px;

    -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}