@keyframes error__transition {
    0% {
        width: 0vw;
        background-color: var(--main-background);
    }
    55% {
        background-color: var(--secundary-background);
    }
    100% {
        background-color: var(--secundary-background);
        width: 100vw;
     }
}

.error-section {
    width: 100%;
    height: 100dvh;

    overflow-x: hidden;
    overflow-y: hidden;

    background-color: var(--main-background);
}

.error-section__go-back {
    position: fixed;
    z-index: 200;
    top: 5%;
    left: 2%;
}

.error-section__animation {
    display: grid;
    place-items: center;

    height: 100vh;
    min-height: 200px;
    max-width: 5000px;

    overflow: hidden;
}

.error-page {
    height: 100vh;
}

.error-section__go-back>button {
    border: 1px solid black;
    background-color: transparent;
    color: black;
    border-radius: clamp(18px, 2vw, 20px);

    padding: 2%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8%;

    min-width: 90px;
    width: 15vw;
    max-width: 105px;

    font-size: clamp(18px, 2vw, 20px);
    cursor: pointer;
    font-family: 'cormorant';
    transition: 0.3s;
}

.error-section__go-back>button:hover {
    color: white;
    background-color: black;
}

.error-section__transition {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 201;

    width: 0vw;
    height: 100vh;

    background-color: var(--main-background);
}